.pokemons-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 13rem);
  justify-content: center;
}

.card {
  transition: box-shadow, transform ease 0.2s;
  transform: perspective(1px) translateZ(0) scale(1);
  will-change: transform;

  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}

.more-pokemons-loader {
  height: 4rem;
  width: 4rem;
  margin: 1rem 0 0;
}

.filter-loader {
  height: 100vh;
  margin-top: 4rem;
}
