$squareSize: 6rem;

.stat {
  display: inline-flex;
  flex-direction: column;
  width: $squareSize;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $squareSize;
  width: $squareSize;

  border: 0.5rem solid;
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;
}

.title {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: capitalize;
}
