@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Scalable font : 
      [minimum size] + ([maximum size] - [minimum size])
      * ((100vw - [minimum viewport width])
      / ([maximum viewport width] - [minimum viewport width]))
  */
  /* font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1536 - 320))); */
  font-family: "Urbanist", sans-serif;
}

/* html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
} */

body {
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
