@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap')
layer(base);

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme static {
  --color-black: oklch(26.862% 0.00003 271.152);
  --color-foreground: var(--color-black);
  --color-background: oklch(100% 0.00011 271.152);
  --color-primary: #dc0a2d;

  --color-background-home: var(--color-primary);
  --color-muted-foreground: oklch(60.862% 0.00005 271.152);
  --color-muted-background: oklch(96% 0.00011 271.152);

  --color-border: oklch(92% 0.00011 271.152);

  /* Types */
  --color-bug-1: #a8b820;
  --color-bug-2: #d8e373;

  --color-dark-1: hsl(236, 7%, 39%);
  --color-dark-2: hsl(236, 7%, 50%);

  --color-dragon-1: #7038f8;
  --color-dragon-2: #ba9ffb;

  --color-electric-1: #f8d030;
  --color-electric-2: #ffeda6;

  --color-fairy-1: #f0b6bc;
  --color-fairy-2: #ffdfe2;

  --color-fighting-1: #c03028;
  --color-fighting-2: #f97e77;

  --color-fire-1: #f28826;
  --color-fire-2: #f1c38a;

  --color-flying-1: #a890f0;
  --color-flying-2: #d8cbfd;

  --color-ghost-1: #705898;
  --color-ghost-2: #b19dd3;

  --color-grass-1: hsla(137, 52%, 65%, 1);
  --color-grass-2: hsla(137, 52%, 76%, 1);

  --color-ground-1: #e0c068;
  --color-ground-2: #f5db92;

  --color-ice-1: #98d8d8;
  --color-ice-2: #dcfdfd;

  --color-normal-1: #a8a878;
  --color-normal-2: #cecea8;

  --color-poison-1: #a040a0;
  --color-poison-2: #d786d7;

  --color-psychic-1: #f85888;
  --color-psychic-2: #f6afc4;

  --color-rock-1: #b8a038;
  --color-rock-2: #dcc871;

  --color-steel-1: #b8b8d0;
  --color-steel-2: #dfdfe9;

  --color-water-1: #6890f0;
  --color-water-2: #bbcfff;

  /* Stats */
  --color-stat-bad: hsl(360, 70%, 65%);
  --color-stat-medium: hsl(40, 70%, 65%);
  --color-stat-great: hsl(205, 70%, 65%);
  --color-stat-good: hsl(137, 70%, 65%);

  /* Evolution node */
  --spacing-evochain-col: 6rem;
  --spacing-evochain-col-mobile: 3.5rem;
  --spacing-evochain-row: 1.25rem;
  --spacing-evoconnector-thickness: 3px;

  /* Animations */
  --animate-levitate: levitate 4s ease-in-out infinite;
  --animate-scale-up: scaleUp 0.5s forwards;
  --animate-slide-from-top: slideFromTop 0.5s forwards;
  --animate-fade-in: fadeIn 0.5s forwards;
  --animate-wiggle: wiggle 0.3s ease-in-out forwards;

  /* Breakpoints */
  --breakpoint-3xl: 1792px;

  @keyframes levitate {
    0%,
    100% {
      transform: translateY(-6px);
    }
    50% {
      transform: translateY(6px);
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  /* Scalable font : 
      [minimum size] + ([maximum size] - [minimum size])
      * ((100vw - [minimum viewport width])
      / ([maximum viewport width] - [minimum viewport width]))
  */
  /* font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1536 - 320))); */
  font-family: 'Urbanist', sans-serif;

  &.dark {
    --color-background: var(--color-black);
    --color-foreground: var(--color-white);
    --color-muted-foreground: oklch(85% 0.00011 271.152);
    --color-muted-background: oklch(32.862% 0.00003 271.152);
    --color-border: oklch(36.862% 0.00003 271.152);
    --color-background-home: var(--color-background);
  }
}

body {
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
