.tabs {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  column-gap: 1rem;

  margin: 0;
  padding: 0;

  color: hsl(0, 0%, 80%);
  font-size: 2rem;
  font-weight: 700;
  list-style: none;
  text-align: center;
}
